<!DOCTYPE html>
<html>
<head>
  <title>HasCustomFields</title>
  <%= stylesheet_link_tag    "has_custom_fields/application", :media => "all" %>
  <%= javascript_include_tag "has_custom_fields/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
